{
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "ignorePatterns": ["**/generated-sources/**/*", "**/hardhat-generated-resources/**/*", "*.json"],
  "rules": {
    "require-await": "error",
    "semi": ["error", "never"],
    "quotes": ["error", "double"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "max-len": [
      "error",
      {
        "code": 120,
        "ignorePattern": "^import\\s.+\\sfrom\\s.+$"
      }
    ],
    "object-curly-spacing": ["error", "always"],
    "array-bracket-spacing": ["error", "never"],
    "eqeqeq": ["error", "always"],
    "comma-style": ["error", "last"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "comma-dangle": ["error", "always-multiline"],
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "trailingComma": "all",
        "singleQuote": false,
        "printWidth": 120

      },
      { "usePrettierrc": true }
    ],
    "linebreak-style": ["error", "unix"]
  }
}